extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Consequat qui excepteur sint irure ad velit pariatur deserunt reprehenderit esse esse ex. Sit duis eiusmod sunt do id. Adipisicing dolore non amet culpa tempor voluptate aliqua consequat adipisicing non non. Sit irure velit sint sunt occaecat nostrud reprehenderit quis consequat fugiat. Tempor sit nisi dolor do minim culpa quis proident.

                p Consequat qui excepteur sint irure ad velit pariatur deserunt reprehenderit esse esse ex. Sit duis eiusmod sunt do id. Adipisicing dolore non amet culpa tempor voluptate aliqua consequat adipisicing non non. Sit irure velit sint sunt occaecat nostrud reprehenderit quis consequat fugiat. Tempor sit nisi dolor do minim culpa quis proident.

                p Consequat qui excepteur sint irure ad velit pariatur deserunt reprehenderit esse esse ex. Sit duis eiusmod sunt do id. Adipisicing dolore non amet culpa tempor voluptate aliqua consequat adipisicing non non.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit assumenda rerum vero quas sed eveniet autem commodi molestiae. Aut nemo porro earum dolore rem quibusdam architecto? Optio consectetur sapiente architecto.


                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit assumenda rerum vero quas sed eveniet autem commodi molestiae. Aut nemo porro earum dolore rem quibusdam architecto? Optio consectetur sapiente architecto.

                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit assumenda rerum vero quas sed eveniet autem commodi molestiae. Aut nemo porro earum dolore rem quibusdam architecto? Optio consectetur sapiente architecto.